__pycache__/
.DS_Store
.idea
.ruff_cache
.venv
.vscode
*.py[cod]
*.egg-info
venv

# kbc datafolder
/data
# Ignore test output directories (these get regenerated during test runs)
tests/functional/*/source/data/out/
